root/img/
react/v1/node_modules
react/v1/node_modules
react/v1/cites/node_modules
react/v1/cites/node_modules
react/v1/cites/yarn.lock
react/v1/cites/public/favicon.ico

react/v1/cites/public/*.png
react/v1/cites/public/occupations

react/v1/cites/src/logo.svg
react/v1/cites/src/reportWebVitals.js
react/v1/cites/src/setupTests.js